<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ClairPrev - formContrat</title>

</head>
<body>
	<div class="container">
		<h1 class="text-center my-3">ClairPrev Prévoyance - Finaliser
			contrat</h1>

		<h3 class="my-3">
			Numéro de l'assuré : <span th:text="${contrat.numeroAssure}">
			</span>
		</h3>

		<h3 class="my-3">
			Numéro du produit : <span th:text="${contrat.numeroProduit}">
			</span>
		</h3>

		<form th:action="@{/valider-contrat}" th:object="${contrat}"
			method="POST">
			<div class="row d-flex justify-content-around">
				<div class="col-md-4">
					<label for="numberContract">Numéro du nouveau contrat : </label> <input
						type="text" th:field="*{numeroContrat}" class="form-control"
						id="numberContract" />
				</div>

				<div class="col-md-4">
					<label for="dateDebut"> Date de début (yyyy-MM-jj) : </label> <input
						type="text" th:field="*{dateDebut}" class="form-control"
						id="dateDebut" />
				</div>
			</div>
			<div class="row d-flex justify-content-center my-4">
				<button type="submit" class="btn btn-success ">Valider</button>
			</div>
		</form>
	</div>
</body>
</html>