<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>ClairPrev - PrevIT</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>ClairPrev Prévoyance - Rechercher un assuré</h1>
	</div>

	<div class="col-md-4 mx-auto mt-5 text-center">
		<form th:action="@{/saisir-assure}" th:object="${assure}" method="POST">
			<div>
				<label for="nom">Nom :</label>
				<input type="text" id="nom" th:field="*{nom}" />
			</div>
			<div>
				<label for="prenom">Prénom :</label>
				<input type="text" id="prenom" th:field="*{prenom}" />
			</div>
			<div>
				<input type="submit" value="Valider" />
			</div>
		</form>
	</div>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Prenom</th>
					<th>Nom</th>
					<th>NumeroAssure</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="assure : ${listeAssure}" class="col-md-4 my-1">
					 <td th:text="${assure.prenom}"></td>
					 <td th:text="${assure.nom}"></td>
					 <td th:text="${assure.numeroAssure}"></td>
					 <td>
						<a th:href="@{|/Assure/numeroAssure/${assure.numeroAssure}|}"
						   th:text="${assure.numeroAssure}"></a>
					 </td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
