<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ClairPrev - PrevIT</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Liste après recherche</h1>
	</div>

<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Prenom</th>
				<th>Nom</th>
				<th>NumeroAssure</th>
			</tr>
		</thead>
		<tbody>
			<!-- On récupère le nom de la clé passée dans le modèle pour boucler dessus -->
			<tr th:each="assure : ${listeAssure}" class="col-md-4 my-1">
				<td th:text="${assure.prenom}"></td>
				<td th:text="${assure.nom}"></td>
				<td>
					<a th:href="@{|/Assure/numeroAssure/${assure.numeroAssure}|}"
					   th:text="${assure.numeroAssure}"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>


</body>
</html>